.btn {
	font-weight: 600;
	letter-spacing: 0.180em;
	background-color: rgba($charcol, .2);
	transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

	@mixin hover {
		&:hover {
			background-color: rgba($mainOrange, .5);
		}
	}
}