.categories {
	background-color: rgba($terra, .7);

	&__main-title {
		margin: 0;
		padding-top: 50px;
		padding-bottom: 0;
		font-family: 'Dosis', sans-serif;
		letter-spacing: 0.2em;
		color: #fff;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.3rem;

		@mixin atMedium {
			padding-top: 70px;
			font-size: 1.5rem;
		}

		@mixin atXLarge {
			padding-top: 90px;
			font-size: 2rem;
		}
	}

	&__container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 40px;
		padding-bottom: 45px; 
		text-align: center;

		@mixin atXSmall {
			flex-wrap: nowrap;
		}

		@mixin atMedium {
			padding-top: 50px;
			padding-bottom: 70px;
		}

		@mixin atXLarge {
			padding-top: 60px;
			padding-bottom: 95px;
		}
	}

	&__wrap {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__photo {
		width: 110px;
		height: 110px;
		border-radius: 55px;
		border: 2px solid rgba(255, 255, 255, .5); 
		overflow: hidden;

		@mixin atXSmall {
			width: 120px;
			height: 120px;
			border-radius: 60px;
		}

		@mixin atSmall {
			width: 145px;
			height: 145px; 
			border-radius: 72.5px;
			transform: scale(1);
			transition: 0.5s;
		}

		@mixin atXLarge {
			width: 160px;
			height: 160px; 
			border-radius: 80px;
			transform: scale(1);
			transition: 0.5s;
		}

		@mixin hover {
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: .750rem;
		letter-spacing: 2px;
		color: #fff;

		@mixin atXSmall {
			font-size: .8rem;
		}

		@mixin atSmall {
			font-size: 0.9rem;
		}

		@mixin atXLarge {
			font-size: 1rem;
		}
	}
}