footer {
	background-color: rgba($lightGray, .7);
}

.footer {

	&__title {
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
		margin-bottom: 2.5rem;

		&__map {
			margin-right: 20%;
		}
	}

	&__icons-container {
		display: flex;
		justify-content: center;
	}

	&__icons-container a::before {
		content: "";
		width: 100%;
		height: 100%;
		display: inline-block;
		position: absolute;
		border: 1px solid #111;
		border-radius: 2px;
		box-sizing: border-box;
		
		transform: rotate(45deg);
		transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	}

	&__icons-container a:hover:before {
			background-color: rgba($mainBlue, .5);
		}

	&__links {
		width: 42px;
		height: 42px;
		display: inline-block;
		position: relative;
		margin-right: 40px;
		text-align: center;
		line-height: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__icons {
		width: 20px;
		height: 20px;
		position: relative;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);
	}

	&__contact {
		width: 100%;
		text-align: center;
		margin-top: 100px;
		color: $mainBlue;
	}

	&__btn {
		border: 1px solid #111;
		padding: 0.3125rem 2.5rem; 
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.2rem;
		letter-spacing: 0.180em;

		transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

		&:hover {
			background-color: rgba($mainBlue, .5);
			color: #111;
		}
	}
	
	&__copy {
		clear: both;
		margin: 20px 0;
		text-align: center;
	}
	
}

