.site-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba($lightGray, .7);
	margin-bottom: -3px;

	&__container {
		display: flex;
		flex-direction: column;

		@mixin atMedium {
			flex-direction: row;
			align-items: center;
		}
	}	

	&__box {
		width: 100%;

		&--photo {
			max-height: 300px;
			overflow: hidden;
			order: 1;
		}

		&--text {
			order: 2;
		}

		@mixin atMedium {
			width: 50%;

			&--photo {
				max-height: 400px;
				max-width: 100%;
				overflow: hidden;
			}

			&--box1 {
				order: 1;
			}

			&--box5 {
				order: 5;
			}

			&--box6 {
				order: 6;
			}
		}

		@mixin atLarge {
			max-height: 500px;
		}
	}

	&__txt-wrap {
		max-width: 800px;
		min-height: 220px;
		padding: 0 25px 10px 25px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		@mixin atSmall {
			padding: 0 25px 0 25px;
		}

		@mixin atMedium {
			max-width: 92%;
		}

		@mixin atLarge {
			padding: 0;
			max-width: 80%;
		}

		@mixin atXLarge {
			max-width: 70%;
		}
	}

	&__title {
		padding-top: 10px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 500;
		letter-spacing: 0.2em;
		color: #111;

		@mixin atSmall {
			padding-top: 20px;
		}

		@mixin atMedium {
			padding: 0;
		}

		@mixin atXLarge {
			font-size: 1.3rem;
			padding-bottom: 10px;
		}

		@mixin atTiny {
			font-size: 0.85rem;
		}
	}

	&__para {
		line-height: 1.6;
		font-size: 0.9rem;
		text-align: justify;

		@mixin atSmall {
			line-height: 1.7;
		}

		@mixin atLarge {
			line-height: 1.8;
			font-size: 0.9rem;
		}

		@mixin atXLarge {
			line-height: 1.9;
			font-size: 1.1rem;
		}

		@mixin atTiny {
			font-size: 0.8rem;
		}
	}
}

	

/*
	@mixinatSmall {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 300px);
	}

	@mixin atMedium {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 500px);
	}

	&__content {
		max-width: 500px;
		padding-left: 18px;
		padding-right: 18px;
		margin: 30px auto;
		text-align: justify;
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 500;
		letter-spacing: 0.125rem;
		color: $mainBlue;

		&--deco {
			font-family: 'News Cycle', sans-serif;
		}
	}

	&__para {
		line-height: 1.9;
		font-size: 1rem;
	}

	&__photo {
		position: relative;
		overflow: hidden;
	}
*/	
