html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'News Cycle', sans-serif;
	color: #111;
}

p {
	color: $mainGrey;
}

h1 {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.3em;
}

h2 {
	font-family: 'Old Standard TT', serif;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

.clearfix {
	@mixin clearfix;
}

.clearfixB {
	@mixin clearfixB;
}