
$mainOrange: #e17055;
$mainYellow: #ffeaa7;
/*$mainBlue: #079992;*/
$mainGrey: #596275;
$lightGray: #f1f2f6;
$darkGreen: #5BB48B;
$mainBlue: #F7E196;

/* Color schemes */

$flatGray: #55505c;
$flatYellow: #dda77b;
$flatGrayLight: #a99f96;
$flatRose: #945d5e;

$flatGreen: #87BBA2;
$lightGreen: #d9ede0;
$steel: #55828B; 
$charcol: #364958;
$carrot: #ED9B40;
$lightYellow: #FAF0CA;
$terra: #E07A5F;


/* Shades of Blue */

$flatBlue: #247ba0;

/* Shades of Gray */

$modernGray: #bdbbb6;
$charcol: #364958;

/* Shades of Yellow */

$lightYel: #f5e4d7;